<!--<div class="flex flex-col items-center justify-center h-screen overflow-hidden">-->
<!--  <p-card class="lg:max-w-lg w-full p-6 border-top-4 border-gray-600 shadow-md">-->
<!--    <ng-template pTemplate="header">-->
<!--      <h1 class="text-3xl font-semibold text-center text-gray-700">Sign In</h1>-->
<!--    </ng-template>-->

<!--    <form class="space-y-4">-->
<!--      <div>-->
<!--        <label for="email" class="text-base label-text">Email</label>-->
<!--        <input pInputText [(ngModel)]="email" type="text" [ngModelOptions]="{standalone: true}" id="email" placeholder="Email Address" class="w-full p-inputtext" />-->
<!--      </div>-->

<!--      <div>-->
<!--        <label for="password" class="text-base label-text">Password</label>-->
<!--        <input pInputText [(ngModel)]="password" type="password" [ngModelOptions]="{standalone: true}" id="password" placeholder="Enter Password" class="w-full p-inputtext" />-->
<!--      </div>-->

<!--      <a href="#" class="text-xs text-gray-600 hover:underline hover:text-blue-600">Forget Password?</a>-->

<!--      <div>-->
<!--        <button pButton type="button" label="Login" class="w-full" (click)="signIn()"></button>-->
<!--      </div>-->

<!--      @if(error()) {-->
<!--        <p-message severity="warn" text="{{error()}}"></p-message>-->
<!--      }-->
<!--    </form>-->
<!--  </p-card>-->
<!--</div>-->
